<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
<div class="container">
<div class="row mt-5">
    <div class="col-md-6" >
<!--        card-->
        <div class="card" style="background-color: whitesmoke">
        <div class="card-body">
            <h4 class="text-center font-weight-bold mb-4">Your selected items</h4>
            <div class="cart-body">

            </div>
        </div>
        </div>


    </div>
    <div class="col-md-6" >
<!--        form details-->
        <div class="card" style="background-color: whitesmoke">
            <div class="card-body">
                <h4 class="text-center font-weight-bold mb-4">Confirm Your Order</h4>

                <form th:action="@{/success}">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Name</label>
                        <input type="text" class="form-control" id="exampleInputPassword1">
                    </div>

                    <h6>Your shipping address: </h6>
                    <div class="form-group">
                        <textarea name="" ></textarea>

                    </div>

                    <button type="submit" class="btn btn-primary">Order Now</button>
                </form>



            </div>
        </div>





    </div>

</div>

</div>


</section>

</body>
</html>