<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>



<nav th:fragment="nav1" class="navbar navbar-expand-lg navbar-light bg-light nav-bar" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
<!--            <img th:src="@{images/Acura-2022-NSX-Type.jpeg'}">-->
            <img th:src="@{images/azure.png}"
            alt="Azure AutoWheels"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item mt-1" data-bs-toggle="modal" data-bs-target="#cart">
                    <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16" style="color: darkorchid;font-weight: bold">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    <span class="cart-items" style="color: darkorchid;font-size: medium">(0)</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/buy}">Buy cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/rent}" href="#">Rent Cars</a>
                </li>

                </li>

                <li th:if="${session.user}"  class="nav-item ">
                    <a th:text="'Welcome '+${session.user.name}"class="nav-link text-success fw-bold">null</a>
                </li>
                <li th:unless="${session.user}" class="nav-item">
                    <a th:href="@{/login}" class="nav-link fw-bold">Login</a>
                </li>
                <li th:if="${session.user}" class="nav-item">
                    <a th:href="@{/logout}" class="nav-link text-danger fw-bold">logout</a>
                </li>

                <li th:unless="${session.user}" class="nav-item">
                    <a th:href="@{/signup}" class="nav-link fw-bold">Sign Up</a>
                </li>



            </ul>
        </div>
    </div>
    <div th:replace="modal::cartModal"></div>
</nav>



<nav th:fragment="nav2" class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Ecommerce Website</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item mt-1" data-bs-toggle="modal" data-bs-target="#cart">
                    <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16" style="color: darkorchid;font-weight: bold">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    <span class="cart-items" style="color: darkorchid;font-size: medium">(0)</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>

                </li>

                <li th:if="${session.user}"  class="nav-item ">
                    <a th:text="'Welcome '+${session.user.name}"class="nav-link text-success fw-bold">null</a>
                </li>
                <li th:unless="${session.user}" class="nav-item">
                    <a th:href="@{/login}" class="nav-link fw-bold">Login</a>
                </li>
                <li th:if="${session.user}" class="nav-item">
                    <a th:href="@{/logout}" class="nav-link text-danger fw-bold">logout</a>
                </li>

                <li th:unless="${session.user}" class="nav-item">
                    <a th:href="@{/signup}" class="nav-link fw-bold">Sign Up</a>
                </li>



            </ul>
        </div>
    </div>
    <div th:replace="modal::cartModal"></div>
</nav>
</body>
</html>